/*Colors and Fonts*/

/*Headline*/
@font-face { 
	font-family: "04B_30";
	src: url("fonts/04B_30__.TTF");
} 

/*Body*/
@font-face {
	font-family: "PressStart2P";
	src: url("fonts/PressStart2P.ttf");
}

h1, h2 {
	font-family: "04B_30";
}

#attackButton, #healButton, #fleeButton, #startButton {

	font-family: "04B_30";
	font-size: 1.5em;
	color: black;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 0px 20px;
	box-shadow: 0px 3px 0px black;
}

#startButton {
	background-color: #2ae800;
	display: block;
}

#attackButton {
	background-color: #01BAEF;
	display: none;
}

#healButton {
	background-color: #EC0868;
	display: none;
}

#fleeButton {
	background-color: #FC2F00;
	display: none;
}

#gameTextDisplay {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 20px;
	width: 440px;
	height: 100px;

	font-family: "PressStart2P";
	border-style: solid;
	font-size: 0.9em;
	line-height: 1.25em;
	border-radius: 10px;
	text-align: center;

	background-color: white;
	box-shadow: inset 0px 0px 10px black;
}

.statDisplay {
	font-size: 1.5em;
}

/*Layout*/

.gameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameViewConsole {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.statsContainer {
	width: 480px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.userStats {
	font-family: "PressStart2P";
	font-size: 0.75em;
	width: 180px;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	padding: 20px;

	background-color: white;
	box-shadow: inset 0px 0px 10px black;
}

.grantStats {
	font-family: "PressStart2P";
	font-size: 0.75em;
	width: 180px;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	padding: 20px;

	background-color: white;
	box-shadow: inset 0px 0px 10px black;
}
